$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-display: "\e631";
$icon-key2: "\e633";
$icon-copy1: "\e62f";
$icon-database: "\e630";
$icon-drawer: "\e632";
$icon-home: "\e634";
